---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Daniel's page">
  <h1>Greetings viewers, I'm Daniel</h1>
  <p>I lurk underneath the waiting for the moment that you become unaware of</p>
</Layout>
